<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 main-header">Digital Fabrication</h1>
        <p class="lead">Welcome to my website for the Digital Fabrication 2022 course. On this website I will document my progress through the course along the weekly assignment, and document my process with my final project. Please browse freely, hope you enjoy!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a role="button" class="btn btn-primary btn-lg px-4 me-md-2 primary-btn" href="{{ .Site.BaseURL }}final-project/demo">Final Project</a>
          <a role="button" class="btn btn-outline-secondary btn-lg px-4 secondary-btn" href="{{ .Site.BaseURL }}about">About Me</a>
        </div>
      </div>
      <div class="col-lg-4 p-0 overflow-hiddens">
          <img class="rounded-lg-3" src="{{ .Site.BaseURL }}img/aquaponic-white.svg" alt="aquaponics icon" width="720">
      </div>
    </div>
</div> 