    <div class="custom-container">
        <nav class="navbar navbar-expand-lg navbar-light navigation-bar">
            <div class="container-xxl nav-container">
                <a class="navbar-brand" href="{{ .Site.BaseURL  }}">Fiia Kitinoja</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active btn nav-button" aria-current="page" href="{{ .Site.BaseURL  }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn nav-button" href="{{ .Site.BaseURL  }}about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn nav-button" href="{{ .Site.BaseURL  }}final-project" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Final Project</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}final-project/week-1-2">Initial idea & Project Structure</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}final-project/week-16">Body</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}final-project/week-3">Water circulation</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}final-project/week-8">Electronics</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}final-project/week-14">Raspberry pi</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}final-project/interface">Application interface</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}final-project/demo">Demo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn nav-button" href="{{ .Site.BaseURL  }}assignments" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Weekly Assignments
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-01">Week 01: Introduction</a></li>
                        <li><a class="dropdown-item disabled" href="{{ .Site.BaseURL  }}assignments/assignment-02">Week 02: Principles and Practices</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-03">Week 03: Project Management</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-04">Week 04: Computer-aided Design</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-05">Week 05: Computer-controlled Cutting</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-06">Week 06: Electronics Production</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-07">Week 07: 3D Scanning and Printing</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-08">Week 08: Electronics Design</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-09">Week 09: Computer-controlled machining</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-10">Week 10: Embedded programming</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-11">Week 11: Molding and casting</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-12">Week 12: Output devices</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-13">Week 13: Machine building</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-14">Week 14: Input devices</a></li>
                        <li><a class="dropdown-item" href="{{ .Site.BaseURL  }}assignments/assignment-18">Week 18: Applications and Implications</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn nav-button" href="{{ .Site.BaseURL  }}resources">Resources</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>